.fill-main-color {
  background: url("/src/assets/background.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__wrapper {
  display: flex;
  gap: 573px;
}

.header-logo {
  padding-top: 30px;
}

.header-logo__title {
  font-family: "Georgia-normal";
  color: $color-primary;
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.header-logo__info {
  font-family: "Arial-normal";
  font-size: 13px;
  line-height: 15px;
  color: $color-light-xl;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 4px;
}

.navigation {
  display: flex;
  gap: 35px;
  padding-top: 46px;
}
.navigation-item {
  list-style-type: none;
  cursor: pointer;
  font-family: "Arial-normal";
  font-size: 15px;
  line-height: 24px;
}

.navigation__link {
  text-decoration: none;
  color: $color-dark-s;
}

li:first-child {
  padding-left: 0;
  border-bottom: solid 3px $color-primary;
  pointer-events: none;
}

li:last-child {
  padding-right: 0;
}

.navigation__link:hover {
  transition: all 0.4s;
}
