.fill-main-color {
  background: url("..//../assets/background.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__wrapper {
  display: flex;
  gap: 573px;

  @include media-tablet {
    gap: 81px;
  }
  @include media-mobile {
    gap: 66px;
  }
}

.header-logo {
  padding-top: 30px;
  height: 60px;
  @include media-mobile {
    padding-left: 10px;
  }

  &__title {
    font-family: "Georgia-normal";
    color: $color-primary;
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
  }

  &__info {
    font-family: "Arial-normal";
    font-size: 13px;
    line-height: 15px;
    color: $color-light-xl;
    letter-spacing: 0.1em;
    padding-top: 10px;
    padding-left: 4px;
  }
}

.header__navigation {
  @include media-mobile {
    display: none;
  }
}

.navigation {
  display: flex;
  gap: 35px;
  padding-top: 46px;
}

.navigation-item {
  list-style-type: none;
  cursor: pointer;
  font-family: "Arial-normal";
  font-size: 15px;
  line-height: 24px;
}

.navigation__link {
  text-decoration: none;
  color: $color-dark-s;
}

li:first-child {
  padding-left: 0;
}

.active {
  color: $color-light-s;
  border-bottom: solid 3px $color-primary;
  cursor: default;
  pointer-events: none;
  padding-bottom: 4px;
}

li:last-child {
  padding-right: 0;
}

.navigation__link:hover {
  transition: all 0.4s;
  color: $color-light-s;
}

//////header pets/////

.pets__title {
  color: $color-dark-l;
}

.pets__info {
  color: $color-dark-3xl;
  padding-bottom: 30px;
}

.pets__link {
  color: $color-dark-l;
}

.pets__link:hover {
  color: $color-dark-3xl;
}

.active_pets {
  color: $color-dark-3xl;
  padding-bottom: 4px;
  border-bottom: solid 3px $color-primary;
  pointer-events: none;
}
