.In-addition {
  background-color: $color-light-l;
}

.In-addition__wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;

  @include media-tablet {
    align-items: center;
    flex-direction: column-reverse;
  }
  @include media-mobile {
    padding-top: 10px;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.donation__dog {
  padding-top: 90px;
  padding-bottom: 110px;

  @include media-tablet {
    padding-top: 30px;
    padding-bottom: 95px;
  }
  @include media-mobile {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}

.In-addition__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;

  @include media-mobile {
    justify-content: center;
    width: 281px;
    padding-top: 32px;
  }
}

.In-addition__title {
  font-family: "Georgia-normal";
  font-size: 35px;
  line-height: 45px;
  color: $color-dark-l;
  letter-spacing: 0.06em;
  width: 300px;
  height: 64px;

  @include media-mobile {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }
}

.card__title {
  font-family: "Georgia-normal";
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  color: $color-dark-l;
  letter-spacing: 0.06em;
  padding-top: 25px;

  @include media-mobile {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0em;
    padding-top: 0px;
  }
}

.card__info {
  font-family: "Arial-italic";
  font-size: 12px;
  line-height: 18px;
  color: $color-dark-m;
  width: 380px;

  @include media-mobile {
    width: 280px;
    text-align: justify;
  }
}

.card__number {
  background-color: $color-primary;
  display: flex;
  height: 43px;
  width: 350px;
  border-radius: 9px;
  gap: 15px;
  justify-content: center;
  transition: all 0.4s ease;

  @include media-mobile {
    width: 280px;
  }
}

.number {
  font-family: "Georgia-normal";
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: $color-dark-l;
  letter-spacing: 0.06em;
  padding-left: 15px;

  @include media-mobile {
    font-size: 15px;
    line-height: 17px;
  }
}

.number__ico {
  padding-top: 8px;
}
