.Our-Friends {
  background-color: $color-light-l;
}

.Our-Friends__wrapper {
  padding: 70px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;

  @include media-tablet {
    padding: 75px 0 100px 0;
    gap: 60px;
  }

  @include media-mobile {
    padding: 35px 0 42px 0;
    gap: 40px;
  }
}

.Our-Friends__title {
  font-family: "Georgia-normal";
  font-size: 35px;
  line-height: 45px;
  color: $color-dark-l;
  width: 400px;
  letter-spacing: 0.06em;
  align-self: center;
  text-align: center;

  @include media-mobile {
    font-size: 25px;
    line-height: 32px;
  }
}

.Our-Friends-select {
  align-self: center;

  @include media-tablet {
    margin-top: -5px;
  }

  @include media-mobile {
    margin-top: 73px;
  }
}

.pets-card__conteiner {
  display: flex;
  gap: 90px;
  align-self: center;

  @include media-tablet {
    align-self: flex-start;
    width: 580px;
    gap: 40px;
  }
}

.Our-Friends-slider {
  display: flex;
  justify-content: center;
}

.pets-card {
  width: 270px;
  background-color: $color-light-s;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 9px;

  &__name {
    font-family: "Georgia-normal";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    align-self: center;
  }
}

.pets-card:last-child {
  @include media-tablet {
    display: none;
  }
}

.main_item1,
.main_item2 {
  @include media-mobile {
    display: none;
  }
}
.pets-card:last-child {
  @include media-mobile {
    display: none;
  }
}

.pets-card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: $color-light-xl;
}

.pets__img {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.Our-Friends-slider__prev,
.Our-Friends-slider__next {
  align-self: center;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary-light;
  border-radius: 50%;
  background-image: url("..//../assets/buttons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.Our-Friends-slider__close {
  position: relative;
  bottom: 50px;
  left: 100%;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary-light;
  border-radius: 50%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("..//../assets/buttons/VectorX.svg");

  @include media-tablet {
  }

  @include media-mobile {
  }
}

.pop-Up__button {
  border: none;
  background-size: 32px 32px;
}

.Our-Friends-slider__close:hover {
  background-color: $color-primary-light;
  cursor: pointer;
}

.Our-Friends-slider__prev {
  margin-right: 52px;
  @include media-tablet {
    margin-right: 12px;
  }

  @include media-mobile {
    position: absolute;
    margin-top: 528px;
    margin-right: 130px;
  }
}

.Our-Friends-slider__next {
  transform: rotate(180deg);
  margin-left: 52px;

  @include media-tablet {
    margin-left: 12px;
  }
  @include media-mobile {
    position: absolute;
    margin-top: 528px;
    margin-left: 130px;
  }
}

.Our-Friends-slider__prevButton {
  border: 0;
  background-size: 32px 32px;
}

.Our-Friends-slider__nextButton {
  border: 0;
  background-size: 32px 32px;
}

.pets-card {
  animation: imgAnim 3s ease-in-out;
}

@keyframes imgAnim {
  0% {
    opacity: 0.25;
  }
  8% {
    opacity: 0.45;
  }
  25% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.pop-Up {
  display: none;
  box-shadow: 0px 2px 35px 1000px rgba(19, 18, 18, 0.486);
  z-index: 2;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: $color-light-s;
  border-radius: 9px;
  position: fixed;
  width: 900px;

  @include media-tablet {
    width: 630px;
    top: 15%;
    left: 10%;
  }

  @include media-mobile {
    width: 240px;
    top: 15%;
    left: 12%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 50px;
    padding-right: 20px;
    @include media-tablet {
      padding-top: 10px;
      width: 260px;
      padding-right: 8px;
    }

    @include media-mobile {
      align-items: center;
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__img {
    width: 500px;
    height: 500px;
    border-radius: 9px 0px 0px 9px;
    padding-right: 30px;
    margin-left: -55px;
    @include media-tablet {
      width: 350px;
      height: 350px;
      padding-right: 20px;
    }

    @include media-mobile {
      display: none;
    }
  }

  &__name {
    font-family: "Georgia-normal";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #000;
  }
  &__type {
    font-family: "Georgia-normal";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #000;
    padding-top: 10px;
  }

  &__info {
    font-family: "Georgia-normal";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000;
    padding-top: 40px;
    padding-bottom: 30px;

    @include media-tablet {
      font-size: 13px;
      line-height: 14px;
      padding-bottom: 10px;
      padding-top: 20px;
    }
    @include media-mobile {
      text-align: justify;
      margin-left: -10px;
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }

  &__item {
    font-family: "Georgia-bold";
    font-style: normal;
    font-weight: 400px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000;
    padding-top: 11px;
    @include media-tablet {
      padding-top: 6px;
    }

    @include media-mobile {
      padding-top: 6px;
    }
  }

  &__item:last-child {
    @include media-tablet {
      padding-bottom: 38px;
    }
  }

  &__list {
    list-style: none;
  }

  /* &__item ::before {
    position: absolute;
    display: inline;
    content: "";
    width: 4px;
    height: 4px;
    top: 7px;
    left: 0px;
    border-radius: 50%;
    background-color: $color-primary;
  } */

  &__age,
  &__inoculations,
  &__diseases,
  &__parasites {
    font-family: "Georgia-normal";
  }
}

.pop-Up-active {
  display: flex;
}

/////our friends pets/////

.pets__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 100px 0;

  @include media-tablet {
    padding-bottom: 68px;
  }

  @include media-mobile {
    padding: 40px 0 38px 0;
  }
}

.pets__item7,
.pets__item8 {
  @include media-tablet {
    display: none;
  }
}

.pets__item7,
.pets__item8 {
  @include media-mobile {
    display: none;
  }
}

.pets__item5,
.pets__item6 {
  @include media-mobile {
    display: none;
  }
}

.pets__item4 {
  @include media-mobile {
    display: none;
  }
}
.pets__conteiner {
  padding: 60px 40px 55px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  row-gap: 25px;
  align-items: center;

  @include media-tablet {
    padding: 30px 94px 34px 94px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 26px;
  }

  @include media-mobile {
    padding: 40px 25px 40px 25px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 25px;
  }
}

.container__buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
  @include media-tablet {
    padding-bottom: 10px;
  }

  @include media-mobile {
    gap: 10px;
  }
}

.Our-Friends-slider__btn {
  align-self: center;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary-light;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease;
}

.pets-prev2 {
  background-image: url("..//../assets/buttons/dablEqual2.svg");
  transform: rotate(180deg);
}

.pets-prev1 {
  background-image: url("..//../assets/buttons/equal2.svg");
  transform: rotate(180deg);
}

.pets-next1 {
  background-image: url("..//../assets/buttons/equal.svg");
}

.pets-next2 {
  background-image: url("..//../assets/buttons/dablEqual.svg");
}

.next-num {
  padding-top: 12px;
  background-color: $color-primary-light;
  text-align: center;
  font-family: "Georgia-normal";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  align-self: center;
}
