.Our-Friends {
  background-color: $color-light-l;
}

.Our-Friends__wrapper {
  padding: 70px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}

.Our-Friends__title {
  font-family: "Georgia-normal";
  font-size: 35px;
  line-height: 45px;
  color: $color-dark-l;
  width: 400px;
  letter-spacing: 0.06em;
  align-self: center;
  text-align: center;
}

.Our-Friends-select {
  align-self: center;
}

.pets-card__conteiner {
  display: flex;
  gap: 90px;
}

.Our-Friends-slider {
  display: flex;
  justify-content: center;
}

.pets-card {
  width: 270px;
  background-color: $color-light-s;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 9px;
}

.pets-card__name {
  font-family: "Georgia-normal";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  align-self: center;
}

.pets__img {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.Our-Friends-slider__prev,
.Our-Friends-slider__next {
  align-self: center;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary-light;
  border-radius: 50%;
  background-image: url("..//../assets/buttons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.Our-Friends-slider__next {
  transform: rotate(180deg);
  margin-left: 52px;
}

.Our-Friends-slider__prev {
  margin-right: 52px;
}

.pets-card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: $color-light-xl;
}

/////our friends pets/////

.pets__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 100px 0;
}

.pets__conteiner {
  padding: 60px 40px 55px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  row-gap: 25px;
  align-items: center;
}

.container__buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
}

.Our-Friends-slider__btn {
  align-self: center;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary-light;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease;
}

.pets-prev2 {
  background-image: url("..//../assets/buttons/dablEqual2.svg");
  border: 2px solid $color-dark-s;
  transform: rotate(180deg);
}

.pets-prev1 {
  background-image: url("..//../assets/buttons/equal2.svg");
  border: 2px solid $color-dark-s;
  transform: rotate(180deg);
}

.pets-next1 {
  background-image: url("..//../assets/buttons/equal.svg");
}

.pets-next2 {
  background-image: url("..//../assets/buttons/dablEqual.svg");
}

.next-num {
  padding-top: 12px;
  background-color: $color-primary-light;
  text-align: center;
  font-family: "Georgia-normal";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  align-self: center;
}
