* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// body {
//     overflow: hidden;
// }

$content-width: 1440px;
$tablet-width: 761px;
$tablet-width-big: 1220px;
$mobile-width: 320px;
$mobile-big-width: 760px;
@mixin media-laptop {
    @media (max-width: $content-width) {
        @content;
    }
}

@mixin media-tablet {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-big) {
        @content;
    }
}

@mixin media-mobile {
    @media (min-width: $mobile-width) and (max-width: $mobile-big-width) {
        @content;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url('../images/f1dd22596724e7a16837.jpg');
    padding-bottom: 20px;
}

#container {
    margin: 0 auto;
    display: flex;
    max-width: $content-width;
    padding: 20px;
    justify-content: space-between;
    background-color: rgba(217, 223, 230, 0.3);

    @include media-tablet {
        padding: 10px;
    }

    @include media-mobile {
        padding: 5px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

footer {
    padding-top: 10px;
    align-self: flex-end;
    color: white;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    @include media-tablet {
        width: 100%;
    }

    @include media-mobile {
        width: 100%;
    }
}

.main-title {
    padding-top: 10px;
    padding-left: 200px;
    font-size: 28px;
    color: white;

    @include media-tablet {
        font-size: 24px;
        padding-left: 0px;
    }

    @include media-mobile {
        font-size: 24px;
        padding-left: 0px;
    }
}
