* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: rgb(0, 102, 255);
}

#wrapper {
    min-height: 100%;
}

#container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(149, 151, 153, 0.555);
    height: 800px;
}

header {
    background-color: antiquewhite;
    height: 50px;
}

footer {
    background-color: antiquewhite;
    height: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1400px;
    background-color: rgba(149, 151, 153, 0.555);
}
