* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    overflow: hidden;
    min-height: 100%;
    max-width: 1920px;
    background-image: url('../images/133Z_2106.w026.n002.486B.p1.486.jpg');
    padding: 50px 50px;
}

#container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(217, 223, 230, 0.301);
}

footer,
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
