.board {
    position: relative;
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;

    @include media-tablet {
    }

    @include media-mobile {
        width: 80%;
    }
}

.board-img {
    width: 100%;
    max-height: 70%;
    border: 5px solid rgba(73, 36, 158, 0.61);
    background-image: url('../images/232780cf3eb6eadcafd8.jpg');
}

.board-buns__level0,
.board-buns__level1,
.board-buns__level2,
.board-buns__level3,
.board-buns__level4,
.board-buns__level5 {
    top: 240px;
    position: absolute;
    display: flex;
    gap: 30px;
    z-index: 11;

    @include media-tablet {
        gap: 10px;
        top: 180px;
    }

    @include media-mobile {
        gap: 5px;
        top: 130px;
    }
}

.board-buns__level1 {
    display: none;
    top: 230px;

    @include media-tablet {
        top: 170px;
    }

    @include media-mobile {
        top: 125px;
    }
}

.board-buns__level2 {
    display: none;
    top: 220px;

    @include media-tablet {
        top: 160px;
    }
    @include media-mobile {
        top: 120px;
    }
}

.board-buns__level3 {
    display: none;
    top: 210px;

    @include media-tablet {
        top: 150px;
    }

    @include media-mobile {
        top: 115px;
    }
}

.board-buns__level4 {
    display: none;
    top: 200px;

    @include media-tablet {
        top: 140px;
    }
    @include media-mobile {
        top: 110px;
    }
}
.board-buns__level5 {
    display: none;
    top: 190px;

    @include media-tablet {
        top: 130px;
    }
    @include media-mobile {
        top: 105px;
    }
}

.blackFirst,
.blackSecond,
.whiteFirst,
.whiteSecond,
.meatBlackFirst,
.meatWhiteFirst,
.meatBlackSecond,
.meatWhiteSecond,
.cheeseBlackFirst,
.cheeseWhiteFirst,
.cheeseBlackSecond,
.cheeseWhiteSecond,
.tomatBlackFirst,
.tomatWhiteFirst,
.tomatBlackSecond,
.tomatWhiteSecond,
.salatBlackFirst,
.salatWhiteFirst,
.salatBlackSecond,
.salatWhiteSecond,
.headBlackFirst,
.headWhiteFirst,
.headBlackSecond,
.headWhiteSecond {
    display: flex;
    width: 100px;
    border-radius: 50%;
    justify-content: center;

    @include media-tablet {
        width: 80px;
    }

    @include media-mobile {
        width: 60px;
    }
}

.hover {
    background-color: #ff7a415a;
    opacity: 1;
    box-shadow: 0 0 30px #ff7941;
}

.bun {
    width: 90px;
    height: 55px;

    @include media-tablet {
        width: 70px;
        height: 35px;
    }

    @include media-mobile {
        width: 50px;
        height: 15px;
    }
}

.shake {
    cursor: pointer;
    animation: bbb 1s infinite ease-out;
}
@keyframes bbb {
    0% {
        width: 90px;
    }
    50% {
        width: 100px;
    }
    100% {
        width: 90px;
    }
}

@include media-tablet {
    @keyframes bbb {
        0% {
            width: 70px;
        }
        50% {
            width: 80px;
        }
        100% {
            width: 70px;
        }
    }
}

@include media-mobile {
    @keyframes bbb {
        0% {
            width: 50px;
        }
        50% {
            width: 60px;
        }
        100% {
            width: 50px;
        }
    }
}
