.board {
    position: relative;
    width: 60%;
    height: 300px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(73, 36, 158, 0.61);
    margin-bottom: 40px;
}

.board-img {
    width: 100%;
    max-height: 100%;
    background-image: url('../images/232780cf3eb6eadcafd8.jpg');
}

.board-buns__level0,
.board-buns__level1,
.board-buns__level2,
.board-buns__level3,
.board-buns__level4,
.board-buns__level5 {
    top: 170px;
    position: absolute;
    display: flex;
    gap: 30px;
    z-index: 11;
}

.board-buns__level1 {
    display: none;
    top: 160px;
}

.board-buns__level2 {
    display: none;
    top: 150px;
}

.board-buns__level3 {
    display: none;
    top: 140px;
}

.board-buns__level4 {
    display: none;
    top: 130px;
}
.board-buns__level5 {
    display: none;
    top: 120px;
}

.blackFirst,
.blackSecond,
.whiteFirst,
.whiteSecond {
    display: flex;
    width: 100px;
    border-radius: 50%;
    justify-content: center;
}

.hover {
    background-color: #ff7a415a;
    opacity: 1;
    box-shadow: 0 0 30px #ff7941;
}

.bun {
    width: 90px;
    height: 55px;
}

.shake {
    cursor: pointer;
    animation: bbb 2s infinite ease-out;
}
@keyframes bbb {
    0% {
        width: 90px;
    }
    50% {
        width: 100px;
    }
    100% {
        width: 90px;
    }
}
