.editor {
    display: flex;
    flex-direction: column;
    margin: -20px;
}

.editor-title {
    color: #fff;
    text-align: end;
    width: 80%;
}

.editor-win {
    display: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.editor-html {
    display: flex;
    align-self: center;
    width: 65%;
    border: 3px solid #fff;
    margin-bottom: 10px;
    background-color: #ffffff9a;
    overflow: auto;
}
.editor-css {
    display: flex;
    width: 100%;
    border: 3px solid #fff;
    background-color: #ffffffb2;
}

.column-numbers {
    background-color: rgba(73, 36, 158, 0.315);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: rgb(78, 78, 78);

    @include media-mobile {
        font-size: 12px;
    }
}

.editor-html__markup {
    color: rgb(78, 78, 78);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;

    @include media-mobile {
        font-size: 12px;
    }
}

.markup__item:hover {
    background-color: rgba(91, 147, 231, 0.671);
}

.editor-css__markup {
    display: flex;
    flex-direction: column;
    color: rgb(151, 151, 151);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;

    @include media-mobile {
        font-size: 12px;
    }
}

.editor-css__button,
.editor-css__reset,
.editor-css__press {
    background-color: rgba(91, 147, 231, 0.671);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 2px solid rgba(91, 147, 231, 0.671);
    color: #fff;
    padding: 5px;
    border-radius: 15px;
}

.editor-css__submit,
.editor-css__resetLev,
.editor-css__help {
    display: flex;
    margin: 5px;
    justify-content: start;
}

.editor-css__button:hover,
.editor-css__reset:hover,
.editor-css__press:hover {
    transform: translate3d(0, 2px, -2px);
    background-color: rgba(73, 36, 158, 0.315);
}

.editor-css__buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.editor-css__help {
    align-self: start;
}

.editor-css__resetLev {
    align-self: end;
}

.editor-css__input {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(73, 36, 158);

    @include media-tablet {
        font-size: 12px;
    }

    @include media-mobile {
        font-size: 9px;
    }
}
