.editor {
    display: flex;
    flex-direction: column;
}

.editor-title {
    color: #fff;
    text-align: end;
    width: 80%;
}

.editor-html {
    display: flex;
    align-self: center;
    width: 60%;
    border: 3px solid #fff;
    margin-bottom: 40px;
    background-color: #ffffff9a;
}
.editor-css {
    display: flex;
    width: 100%;
    border: 3px solid #fff;
    background-color: #ffffffb2;
}

.column-numbers {
    background-color: rgba(73, 36, 158, 0.315);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5;
    font-size: 18px;
    color: rgb(78, 78, 78);
}

.editor-html__markup {
    color: rgb(78, 78, 78);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.5;
    font-size: 18px;
}

.markup__item:hover {
    background-color: rgba(91, 147, 231, 0.671);
}

.editor-css__markup {
    display: flex;
    flex-direction: column;
    color: rgb(151, 151, 151);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5;
    font-size: 18px;
}

.editor-css__button,
.editor-css__reset {
    background-color: rgba(91, 147, 231, 0.671);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 2px solid rgba(91, 147, 231, 0.671);
    color: #fff;
    padding: 5px;
    border-radius: 15px;
}

.editor-css__submit,
.editor-css__resetLev {
    display: flex;
    margin: 5px;
    justify-content: start;
}

.editor-css__button:hover,
.editor-css__reset:hover {
    transform: translate3d(0, 2px, -2px);
    background-color: rgba(73, 36, 158, 0.315);
}

.editor-css__resetLev {
    padding-top: 20px;
    justify-content: end;
}

.editor-css__input {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(73, 36, 158);
}
