.editor {
    display: flex;
    flex-direction: column;
}

.editor-html {
    align-self: center;
    width: 80%;
    border: 3px solid #fff;
}
.editor-css {
    align-items: end;
    width: 80%;
    border: 3px solid #fff;
}
