.levels {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
}

.levels-title {
    padding-bottom: 20px;
}

.levels-container {
    width: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.levels__item {
    cursor: pointer;
    border: 1px solid white;
    padding-top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.win {
    background-color: rgba(73, 36, 158, 0.61);
}

.levels-show {
    line-height: 1.5;
    padding-bottom: 20px;
    font-size: 18px;
}
