.levels {
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #ffff;
    justify-content: space-between;
}

.levels-title {
    padding-bottom: 18px;

    @include media-mobile {
        padding-bottom: 10px;
    }
}

.levels-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;

    @include media-mobile {
        padding-bottom: 10px;
    }
}

.levels__item {
    position: relative;
    cursor: pointer;
    border: 1px solid #ffff;
    padding-top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;

    @include media-mobile {
        width: 25px;
        height: 25px;
    }
}

.tips::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../images/4604bc8e5d77d24b9251.png');
    background-size: cover;
    border-radius: inherit;
}

.win {
    background-color: $color-primary;
}

.levels-show {
    line-height: 1.5;
    padding-bottom: 20px;
    font-size: 18px;

    @include media-mobile {
        padding-bottom: 10px;
        font-size: 14px;
    }
}
