* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: block;
  min-height: 100%;
  max-width: 1920px;
  background-image: url("../images/f1dd22596724e7a16837.jpg");
  padding: 20px 20px;
}

#container {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: rgba(217, 223, 230, 0.3);
}

footer,
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.main-title {
  padding-bottom: 20px;
  color: white;
}

.board {
  position: relative;
  width: 60%;
  height: 300px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(73, 36, 158, 0.61);
  margin-bottom: 40px;
}

.board-img {
  width: 100%;
  max-height: 100%;
  background-image: url("../images/232780cf3eb6eadcafd8.jpg");
}

.board-buns__level0,
.board-buns__level1,
.board-buns__level2,
.board-buns__level3,
.board-buns__level4,
.board-buns__level5 {
  top: 170px;
  position: absolute;
  display: flex;
  gap: 30px;
  z-index: 11;
}

.board-buns__level1 {
  display: none;
  top: 160px;
}

.board-buns__level2 {
  display: none;
  top: 150px;
}

.board-buns__level3 {
  display: none;
  top: 140px;
}

.board-buns__level4 {
  display: none;
  top: 130px;
}

.board-buns__level5 {
  display: none;
  top: 120px;
}

.blackFirst,
.blackSecond,
.whiteFirst,
.whiteSecond,
.meatBlackFirst,
.meatWhiteFirst,
.meatBlackSecond,
.meatWhiteSecond,
.cheeseBlackFirst,
.cheeseWhiteFirst,
.cheeseBlackSecond,
.cheeseWhiteSecond,
.tomatBlackFirst,
.tomatWhiteFirst,
.tomatBlackSecond,
.tomatWhiteSecond,
.salatBlackFirst,
.salatWhiteFirst,
.salatBlackSecond,
.salatWhiteSecond,
.headBlackFirst,
.headWhiteFirst,
.headBlackSecond,
.headWhiteSecond {
  display: flex;
  width: 100px;
  border-radius: 50%;
  justify-content: center;
}

.hover {
  background-color: rgba(255, 122, 65, 0.3529411765);
  opacity: 1;
  box-shadow: 0 0 30px #ff7941;
}

.bun {
  width: 90px;
  height: 55px;
}

.shake {
  cursor: pointer;
  animation: bbb 1s infinite ease-out;
}

@keyframes bbb {
  0% {
    width: 90px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 90px;
  }
}
.editor {
  display: flex;
  flex-direction: column;
}

.editor-title {
  color: #fff;
  text-align: end;
  width: 80%;
}

.editor-html {
  display: flex;
  align-self: center;
  width: 60%;
  border: 3px solid #fff;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.6039215686);
  overflow: auto;
  max-height: 350px;
}

.editor-css {
  display: flex;
  width: 100%;
  border: 3px solid #fff;
  background-color: rgba(255, 255, 255, 0.6980392157);
}

.column-numbers {
  background-color: rgba(73, 36, 158, 0.315);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  line-height: 1.2;
  font-size: 17px;
  color: rgb(78, 78, 78);
}

.editor-html__markup {
  color: rgb(78, 78, 78);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.2;
  font-size: 17px;
}

.markup__item:hover {
  background-color: rgba(91, 147, 231, 0.671);
}

.editor-css__markup {
  display: flex;
  flex-direction: column;
  color: rgb(151, 151, 151);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  line-height: 1.2;
  font-size: 18px;
}

.editor-css__button,
.editor-css__reset,
.editor-css__press {
  background-color: rgba(91, 147, 231, 0.671);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 2px solid rgba(91, 147, 231, 0.671);
  color: #fff;
  padding: 5px;
  border-radius: 15px;
}

.editor-css__submit,
.editor-css__resetLev,
.editor-css__help {
  display: flex;
  margin: 5px;
  justify-content: start;
}

.editor-css__button:hover,
.editor-css__reset:hover,
.editor-css__press:hover {
  transform: translate3d(0, 2px, -2px);
  background-color: rgba(73, 36, 158, 0.315);
}

.editor-css__buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.editor-css__help {
  align-self: start;
}

.editor-css__resetLev {
  align-self: end;
}

.editor-css__input {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(73, 36, 158);
}

.levels {
  width: 20%;
  display: flex;
  flex-direction: column;
  color: white;
}

.levels-title {
  padding-bottom: 20px;
}

.levels-container {
  width: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.levels__item {
  cursor: pointer;
  border: 1px solid white;
  padding-top: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.win {
  background-color: rgba(73, 36, 158, 0.61);
}

.levels-show {
  line-height: 1.5;
  padding-bottom: 20px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
