@font-face {
  font-family: "Georgia-bold";
  src: url("/src/assets/fonts/georgia/georgia-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia-normal";
  src: url("/src/assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia-italic";
  src: url("/src/assets/fonts/georgia/georgia-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial-italic";
  src: url("/src/assets/fonts/arial/arial-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial-normal";
  src: url("/src/assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**,
*::before,
*::after {
  border: 1px solid rgb(0, 102, 255);
}*/
.container {
  overflow: hidden;
  min-height: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (min-width: 761px) and (max-width: 1080px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 320px) and (max-width: 760px) {
  .wrapper {
    padding: 0 10px;
  }
}

.not-only-select {
  display: flex;
}

.not-only__button {
  background-color: #f1cdb3;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 207px;
  height: 52px;
  color: #292929;
  font-family: "Georgia-normal";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.fill-main-color {
  background: url("/src/assets/background.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__wrapper {
  display: flex;
  gap: 573px;
}

.header-logo {
  padding-top: 30px;
}

.header-logo__title {
  font-family: "Georgia-normal";
  color: #f1cdb3;
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.header-logo__info {
  font-family: "Arial-normal";
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 4px;
}

.navigation {
  display: flex;
  gap: 35px;
  padding-top: 46px;
}

.navigation-item {
  list-style-type: none;
  cursor: pointer;
  font-family: "Arial-normal";
  font-size: 15px;
  line-height: 24px;
}

.navigation__link {
  text-decoration: none;
  color: #cdcdcd;
}

li:first-child {
  padding-left: 0;
  border-bottom: solid 3px #f1cdb3;
  pointer-events: none;
}

li:last-child {
  padding-right: 0;
}

.navigation__link:hover {
  transition: all 0.4s;
}

.not-only__wrapper {
  display: flex;
  gap: 42px;
  padding-top: 90px;
}

.not-only__content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 163px;
}

.not-only__title {
  font-family: "Georgia-normal";
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
  width: 310px;
}

.not-only__info {
  font-family: "Arial-normal";
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}

.About {
  background-color: aquamarine;
}

.About__wrapper {
  background-color: antiquewhite;
}

.Our-Friends {
  background-color: aquamarine;
}

.Our-Friends__wrapper {
  background-color: antiquewhite;
}

.Help {
  background-color: aquamarine;
}

.Help__wrapper {
  background-color: antiquewhite;
}

.In-addition {
  background-color: aquamarine;
}

.In-addition__wrapper {
  background-color: antiquewhite;
}

.footer {
  background-color: aquamarine;
}

.footer__wrapper {
  background-color: antiquewhite;
}

/*# sourceMappingURL=style.css.map */
