$content-width: 1920px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //overflow: hidden;
}

body {
    background-color: rgba(161, 60, 60, 0.103);
}

.container {
    display: flex;
    max-width: $content-width;
    max-height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/db7b2182207d54b77aaa.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cars-container {
    background-color: rgb(84, 84, 84);
    width: $content-width;
    display: flex;
    flex-direction: column;
}

.switch {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.switch__garage,
.switch__winners {
    cursor: pointer;
    font-size: 12px;
    width: 80px;
    height: 20px;
}

.input {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.input-create__color,
.input-update__color {
    height: 20px;
}

.input-buttons {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.garage-title,
.winners-title {
    margin: 100px 0 0 20px;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.winners-title {
    margin: 200px 0 0 20px;
}

.car {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 3px dashed #fff;
}

.car__img {
    display: block;
    width: 94px;
    height: 34px;
}

.car__title {
    padding-bottom: 20px;
}

.car-selectors {
    display: flex;
    gap: 10px;
    padding: 10px 0 10px 0;
}

.car-selectors__select,
.car-selectors__remove,
.car-selectors__start,
.car-selectors__stop {
    cursor: pointer;
}

.delete {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 226, 230);
}

.winners-table__container {
    color: #fff;
}

.flag {
    position: absolute;
    color: red;
    font-size: 40px;
    margin-left: 80%;
    top: 50%;
}
