* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  border: 1px solid rgb(0, 102, 255);
}

.container {
  overflow: hidden;
  min-height: 100%;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 40px;

  @include media-tablet {
    padding: 0 30px;
  }

  @include media-mobile {
    padding: 0 10px;
  }
}
