.not-only-select,
Our-Friends-select {
  display: flex;
}
.not-only-select {
  @include media-tablet {
    padding-left: 126px;
  }

  @include media-mobile {
    display: block;
  }
}

.not-only__button,
.Our-Friends__button,
.pets-card__button {
  background-color: $color-primary;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 207px;
  height: 52px;
  color: $color-dark-3xl;
  font-family: "Georgia-normal";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.not-only__button:hover {
  transition: all 0.4s ease;
  background-color: $color-primary-light;
}

.Our-Friends__button:hover {
  transition: all 0.4s ease;
  background-color: $color-primary-light;
}

.Our-Friends__button {
  width: 261px;
}

.pets-card__button {
  border: solid 2px $color-primary;
  background-color: $color-light-s;
  width: 190px;
}

.slide-select-pets {
  padding-bottom: 30px;
  align-self: center;
}

.Our-Friends-slider__next:hover,
.Our-Friends-slider__prev:hover {
  cursor: pointer;
  background-color: $color-primary-light;
}

.pets-card:hover .pets-card__button {
  transition: all 0.4s ease;
  border: none;
  background-color: $color-primary-light;
}

.card__number:hover {
  cursor: pointer;
  background-color: $color-primary-light;
}

.pets-next1:hover,
.pets-next2:hover,
.next-num:hover,
.Our-Friends-slider__prevButton:hover,
.Our-Friends-slider__nextButton:hover {
  background-color: $color-primary-light;
  cursor: pointer;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: $color-dark-3xl;
}
