$content-width: 1280px;
$tablet-width: 761px;
$tablet-width-big: 1080px;
$mobile-width: 320px;
$mobile-big-width: 760px;

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-dark-s: #cdcdcd;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;

@font-face {
  font-family: "Georgia-bold";
  src: url("./src/assets/fonts/georgia/georgia-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia-normal";
  src: url("./src/assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia-italic";
  src: url("./src/assets/fonts/georgia/georgia-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial-italic";
  src: url("./src/assets/fonts/arial/arial-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial-normal";
  src: url("./src/assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
