%hamburger-line {
  content: "";
  display: block;
  position: absolute;
  background-color: $color-primary;
  width: 100%;
  height: 2px;
  transition: all 0.8s ease 0s;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  margin-top: 50px;
  margin-right: 10px;

  @include media-mobile {
    display: block;
    position: absolute;
    right: 15px;
    z-index: 11;
  }
  &::before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
    z-index: 11;
  }
  &::after {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
    z-index: 11;
  }
}

.hamburger__line::after {
  @extend %hamburger-line;
  height: 2px;
  left: 0;
  top: 10px;
  z-index: 11;
}

.pets__hamburger {
  &::before {
    @extend %hamburger-line;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: 11;
  }
  &::after {
    @extend %hamburger-line;
    background-color: #000000;
    bottom: 0;
    left: 0;
    z-index: 11;
  }
}

.pets__line::after {
  @extend %hamburger-line;
  background-color: #000000;
  height: 2px;
  left: 0;
  top: 10px;
  z-index: 11;
}

.active-icon {
  &::before {
    top: 10px;
    transform: rotate(90deg);
  }
  &::after {
    transform: rotate(90deg);
    left: 20px;
    bottom: 10px;
  }
}

.active-icon .hamburger__line::after {
  transform: rotate(90deg);
  left: 10px;
}

.hamburger:hover,
.header__navigation_active:hover {
  cursor: pointer;
}

.header__navigation_active {
  display: block;
  transition-delay: 2s, 4ms;
}

.header__navigation_active .navigation {
  background: $color-dark-3xl;
  position: fixed;
  padding-top: 208px;
  width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 8;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 35px 1000px rgba(19, 18, 18, 0.486);
}

.header__navigation_active .pets__navigation {
  background-color: $color-light-xl;
}
.header__navigation_active .navigation-item {
  padding-top: 40px;
  font-size: 32px;
  line-height: 51px;
}

.modal-open {
  overflow: hidden;
}

