@font-face {
  font-family: "RobotoBig";
  src: url("./big-shot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  overflow: hidden;
  min-height: 920px;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'RobotoBig' ;
}

.timer{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 380px;
  top: 160px;
  padding: 5px;
  border: solid 3px red;
  border-radius: 5px;
}

.timer__draw{
  display: flex;
  flex-wrap: wrap;
}

.header{
   padding:10px;
   width: 600px;
}

.header__title{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.minesweeper1, .minesweeper2, .minesweeper3{
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom,
    #d5cabd,
    #ddc9c2,
    #dfc9cb,
    #ddcbd5,
    #d5cede
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark{
  background-image: linear-gradient( to top, #4a5f9c, #556caa, #6079b8,#6eb1ed, #69bff8, #52cffe);
  background-repeat: no-repeat;
}


.body__light{
  background-color: white;
}

.hide {
  display: none;
}

.field {
  width: 45px;
  height: 45px;
  border: solid 1px white;
}

 .field-easy {
    width: 45px;
  height: 45px;
  border: solid 1px white;
  }

  .field-medium {
    width: 30px;
  height: 30px;
  border: solid 1px white;
  }

  .field-hard {
    width: 18px;
  height: 18px;
  border: solid 1px white;
  }


.bomb {
  width: 45px;
  height: 45px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 100%;
}
  .bomb-easy {
  width: 45px;
  height: 45px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 100%;
  }

  .bomb-medium {
    width: 30px;
  height: 30px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 100%;
  }

  .bomb-hard {
    width: 18px;
  height: 18px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 100%;
  }

  .bomb-open {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(230, 227, 226);
    background-image: url("../../image/mine1.png");
  }

.flag {
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image:url('../../image/flag.jpg');

}

.open, .number {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(230, 227, 226);
}

  .one{
    color: green;
  }

  .two{
    color: blue;
  }
  .three{
    color: orange;

  }.four{
    color: red;
  }

.header__wrapper{
  display: flex;
  justify-content: space-between;
}

.header__flag, .header__mines, .header__sound,
.header__score, .header__level{
  display: flex;
  flex-direction: column;
}

.drawFlag{
  background-image:url('../../image/flag1.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top right 5px;
}

.drawBombs{
  background-image:url('../../image/mine1.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top right 5px;
}

.drawSounds{
    background-image:url('../../image/sound.png');
    background-repeat: no-repeat;
    background-size:60%;
    background-position: top right -8px;
}

.drawStart{
  background-image:url('../../image/refresh.png');
  background-repeat: no-repeat;
  background-size:30%;
  background-position: top right -0px;
}

.drawList{
  background-image:url('../../image/list.png');
  background-repeat: no-repeat;
  background-size:30%;
  background-position: top right 0px;
}

.drawTheme{
  background-image:url('../../image/moon.png');
  background-repeat: no-repeat;
  background-size:35%;
  background-position: top right 0px;
}


.active-dark, .drawTheme:hover{
  color: rgb(140, 42, 170);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}

.active-hard, .level__hard:hover{
  color: red;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}

.active-medium, .level__medium:hover{
  color: red;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}

.active-easy, .level__easy:hover{
  color: red;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}

.active-list, .drawList:hover{
  color: blue;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}

.active-music, .drawSounds:hover{
  color: green;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}

.drawStart:hover{
  color: orange;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 2px, -2px);
}


.gameSummary {
  padding-top: 15px;
  text-align: center;
  font-size: 52px;
color: red;
padding-bottom: 15px;
}

.win {
  background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(230, 227, 226);
}