@font-face {
  font-family: "RobotoBig";
  src: url("./big-shot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'RobotoBig' ;
}

.header{
   padding:10px;
   width: 500px;
}

.header__title{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.minesweeper {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom,
    #d5cabd,
    #ddc9c2,
    #dfc9cb,
    #ddcbd5,
    #d5cede
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.field {
  width: 20px;
  height: 20px;
  border: solid 1px white;
}

.bomb {
  width: 20px;
  height: 20px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-color: aqua;
  background-size: 100%;
}

.flag {
  width: 20px;
  height: 20px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: 70%;
  background-image:url('../../image/flag.jpg');
}

.open, .number {
  text-align: right;
  font-size: 8px;
  font-weight: bold;
  background-color: rgb(230, 227, 226);
}

  .one{
    color: green;
  }

  .two{
    color: blue;
  }
  .three{
    color: orange;

  }.four{
    color: red;
  }

.header__wrapper{
  display: flex;
  justify-content: space-between;
}

.header__flag, .header__mines, .header__sound,
.header__score, .header__level{
  display: flex;
  flex-direction: column;
}

.drawFlag{
  background-image:url('../../image/flag1.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top right 5px;
}

.drawBombs{
  background-image:url('../../image/mine1.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top right 5px;
}

.drawSounds{
    background-image:url('../../image/sound.png');
    background-repeat: no-repeat;
    background-size:60%;
    background-position: top right 2px;
}

.drawStart{
  background-image:url('../../image/refresh.png');
  background-repeat: no-repeat;
  background-size:30%;
  background-position: top right -0px;
}

.drawList{
  background-image:url('../../image/list.png');
  background-repeat: no-repeat;
  background-size:30%;
  background-position: top right 0px;
}

.header__level:hover{
  color: red;
  cursor: pointer;
}

.drawList:hover{
  color: blue;
  cursor: pointer;
}

.drawSounds:hover{
  color: green;
  cursor: pointer;
}

.drawStart:hover{
  color: orange;
  cursor: pointer;
}


.gameSummary {
  text-align: center;
  font-size: 26px;
color: red;
}